* {
    box-sizing: border-box;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px 0px;
    height: 500px; /* Should be removed. Only for demonstration */
    margin-top: -20px;
  }

  .dashbpic{
    height : 25px;
    width : 25px;
    padding : 2px;
    position : absolute;
    margin-left : -25px;
  }

  .vacimg{
    height : 25px;
    width : 25px;
    padding : 2px;
    position : absolute;
    margin-left : -25px;
  }

  .dash-wel{
    width : 45%;
    height : 95px;
    background-color: #3a94cfd0;
    position : absolute;
    margin-left : 35.5px;
    margin-top : 20px;
    border-radius : 20px;
    padding : 5px 5px 5px 15px;
    font-size: 30px;
    font-family: 'Didact Gothic', sans-serif;
    text-align : left;
  }

  .feel{
    position : relative;
    margin-top : 150px;
    text-align : left;
    margin-left : 50px;
    font-size : 1.5rem;
  }

  .button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 25px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    /* display: inline-flex; */
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    /* overflow: hidden; */
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    margin-left : -287px;
    margin-top : 23px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }

  .parFlex{
    display: flex;
    flex-direction: row;
  }

  .nearby{
    height : 150px;
    width : 200px;
    background-color: gray;
    margin : 8px;
    margin-top : 125px;
    margin-left : 50px;
  }

  .heaStat{
    height : 150px;
    width : 200px;
    background-color: gray;
    margin : 8px;
    margin-top : 125px;
    margin-left : 50px;
  }

  .check{
    font-size: 20px;
  }
  
  .left, .right {
    width: 25%;
    padding-top: 3%;
  }
  
  .middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .dash-tabs{
      /* padding: 5px; */
      text-align: left;
      margin: 20px 0px;
      padding: 15px 10px 15px 40px;
      /* padding-right: 5px; */
  }

  .middle{
    background-color: rgb(218, 216, 216);
  }

  .dash-tabs:hover{
    border-right: solid 5px #4b71f0;  
    color: #00d0c2;
    transition: color 1s;
    transition: border 1s;
  }

  .user-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 10px solid white;
    /* margin: 0px; */
    background-color: #4b71f0;
    background-image: linear-gradient(315deg, #4b71f0 0%, #00d0c2 60%);
}

.dash-icon{
    margin-right: 7px;
}