* {
    box-sizing: border-box;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
    margin-top: -20px;
  }
  
  .left, .right {
    width: 25%;
    padding-top: 3%;
  }
  
  .middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .dash-tabs{
      /* padding: 5px; */
      text-align: left;
      margin: 40px;
      padding-left: 10px;
      padding-right: 5px;
  }

  .dash-tabs:hover{
    border-right: solid 2px #00d0c2;  
  }